---
import "../tailwind.css";
import Loader from "@components/loaders.astro";
import { Toaster } from "sonner";
import bgImg from "/src/assets/bgImage.webp";

let loaderVisible = false;

Astro.locals.showLoader = () => loaderVisible = true;
Astro.locals.hideLoader = () => loaderVisible = false;
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
  </head>

  <body class="min-h-screen flex items-center justify-center bg-cover bg-center relative">

    <img 
      src={bgImg.src} 
      alt="Background Image" 
      class="absolute inset-0 w-full h-full object-cover z-0 pointer-events-none opacity-80" 
    />

    <Loader visible={loaderVisible} />

    <slot />

    <Toaster 
      client:load
      richColors 
      expand={true}
      position="bottom-right"
      closeButton={true}
      theme="light"
    />

    <script>
      document.addEventListener("loader:show", () => {
        document.body.classList.add("loading");
      });

      document.addEventListener("loader:hide", () => {
        document.body.classList.remove("loading");
      });
    </script>
  </body>
</html>
